*{
    margin: 0%;
    padding: 0%;
    font-family: Inter; 
}
/*****************************************NavbAR************************************/
.Logo{
    width: 50px;
    height: 50px;
}
.Navbar{
    background-color: rgb(245,245,245);
    position: absolute; z-index: 1;  
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: aliceblue;
}

#buton{
    margin-left: 340px;
    background: #253648; 
    border-radius: 80px; 
}
#buton2{
    margin-left: 10px;
    background: #253648; 
    border-radius: 80px; 
}
/***********************************Banner**************************************/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("./dist/img/banner.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: black;
}

/****************************Quienes Somos*****************************************/
.titulo{
    width: 348px; 
    height: 33px; 
    left: -30px; 
    top: 520px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 26px; 
    font-weight: 400;
    word-wrap: break-word"
}
.texto{
 
    width:778px; 
    height: 122px; 
    left: 45px; 
    top: 580px; 
    position:absolute;
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word"
}
.imagenquien{
    width: 260px;
    height: 225px; 
    left: 919px; 
    top: 540px; 
    position: absolute;
}
/************************************Servicios************************************/
.tituloc{
    width: 597px; 
    height: 33px; 
    left: -85px; 
    top: 800px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 26px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}

.textoc{
    width: 1134px; 
    height: 122px; 
    left: 45px; 
    top: 880px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}
#opcion{
    width: 178px; 
    height: 57px; 
    left: 261px; 
    top: 1050px; 
    position: absolute; 
    mix-blend-mode: multiply; 
    background: #253648; 
    border-radius: 80px; 

}
#opcionc{
   width: 176px; 
   height: 57px; 
   left: 673px; 
   top: 1050px; 
   position: absolute; 
   mix-blend-mode: multiply; 
   background: #253648; 
   border-radius: 80px; 
}
.textos{
    left: 865px; 
    top: 1150px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-weight: 400; 
    word-wrap: break-word;
}
.link{
    left: 1049px; 
    top: 1150px; 
    position: absolute; 
    color: #253648; 
    font-size: 20px; 
    font-weight: 400; 
    word-wrap: break-word;
}
/******************************************Crear Cuenta formulario****************************/

.value{
  left: 304px; 
  top: 87px; 
  position: absolute; 
  text-align: center; 
  color: white; 
  font-size: 26px;  
  font-weight: 400; 
  word-wrap: break-word;
}
.nose{
    width: 837px; 
    height: 46px; 
    left: 190px; 
    top: 87px; 
    position: absolute; 
    mix-blend-mode: multiply; 
    background: #253648; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; 
    border-radius: 10px; 
    border: 1px #253648 solid;
}

form {
    width: 900px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 2%;
}


/********************************Fooooooooteeeeeeeeerrrr***************************/
footer {
    width: 1315px; 
    height: 240px; 
    left: -30px; 
    top: 1230px; 
    position: absolute; 
    background: #253648;
    flex-wrap: wrap;
}
.tituloco{
    padding-top: 3%;
    color: aliceblue;
    padding-left: 100px;
    font-size: 18px;
}
